.bodyWrapper {
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    color: #3d464d;
    font-weight: normal;
    padding: 0;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 26px;

  button {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 13px;
    color: #3d464d;
    font-weight: normal;
  }

  a,a * {
    cursor: pointer;
    outline: none;
  }

  a {
    color: #2895F1;
    text-decoration: none;
  }

  a:focus {
    text-decoration: underline;
  }

  h1,h2,h3,h4,h5 {
    margin: 0 0 1em 0;
    line-height: 1.6em;
  }

  h1 {
    font-size: 18pt;
    font-weight: normal;
    margin: 10px 0;
  }

  h2 {
    padding-top: 3px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    font-size: 10pt;
  }

  h3 {
    padding: 0;
    margin: 0;
    font-size: 10pt;
  }

  h4 {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 14px;
  }

  h5 {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 12px;
  }

  button {
    border: 0;
    width: auto;
    overflow: visible;
    border-style: solid;
    outline: 0;
  }

  /*! normalize.css v3.0.1 | MIT License | git.io/normalize */

  footer,header,main,section {
    display: block;
  }

  [hidden] {
    display: none;
  }

  a {
    background: transparent;
  }

  a:active,a:hover {
    outline: 0;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  button {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  button {
    overflow: visible;
  }

  button {
    text-transform: none;
  }

  button {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button[disabled] {
    cursor: default;
  }

  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  * {
    -webkit-font-smoothing: antialiased;
  }

  *,*:before,*:after {
    box-sizing: border-box;
  }

  a:hover {
    text-decoration: underline;
  }

  .primary-header {
    -webkit-font-smoothing: antialias;
    font-weight: 400;
  }

  .primary-header {
    font-weight: 300;
    font-size: 28px;
    line-height: 44px;
    margin: 12px auto 2px;
    text-align: center;
  }

  @media (max-width: 767px) {
    .primary-header {
      font-size: 25px;
      line-height: 35px;
    }
  }

  .primary-header {
    -webkit-font-smoothing: antialias;
    font-weight: 400;
  }

  .primary-header {
    font-weight: 300;
    font-size: 28px;
    line-height: 44px;
    margin: 12px auto 2px;
    text-align: center;
  }

  @media (max-width: 767px) {
    .primary-header {
      font-size: 25px;
      line-height: 35px;
    }
  }

  .business-header {
    background: #007ee5;
    color: #fff;
  }

  .business-header a {
    text-decoration: underline;
  }

  .primary-header {
    -webkit-font-smoothing: antialias;
    font-weight: 400;
  }

  .primary-header {
    font-weight: 300;
    font-size: 28px;
    line-height: 44px;
    margin: 12px auto 2px;
    text-align: center;
  }

  @media (max-width: 767px) {
    .primary-header {
      font-size: 25px;
      line-height: 35px;
    }
  }

  .primary-header {
    -webkit-font-smoothing: antialias;
    font-weight: 400;
  }

  .primary-header {
    font-weight: 300;
    font-size: 28px;
    line-height: 44px;
    margin: 12px auto 2px;
    text-align: center;
  }

  @media (max-width: 767px) {
    .primary-header {
      font-size: 25px;
      line-height: 35px;
    }
  }

  div.business-2015 a {
    color: #0071e0;
  }

  div.business-2015 a:hover {
    text-decoration: underline;
  }

  div.business-2015 a {
    color: #0071e0;
  }

  div.business-2015 a:hover {
    text-decoration: underline;
  }

  div.business-2015 a {
    color: #0071e0;
  }

  div.business-2015 a:hover {
    text-decoration: underline;
  }

  div.business-2015 .button-primary {
    border-radius: 6px;
    font-weight: normal;
    min-height: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  div.business-2015 .button-primary.button-big {
    min-width: 220px;
    min-height: 50px;
    line-height: 34px;
  }

  div.business-2015 .button-primary:hover {
    text-decoration: none;
  }

  div.business-2015 .button-primary {
    color: #fff;
    background-color: #0071e0;
    border-color: #0071e0;
  }

  div.business-2015 .button-primary:hover {
    background-color: #3398ea;
    border-color: #3398ea;
  }

  div.business-2015 .button-primary:active {
    background-color: #0071e0;
    border-color: #0071e0;
  }

  div.business-2015 .button-primary:disabled {
    color: #d0d4d9;
    border-color: #d0d4d9;
    background-color: #fff;
  }

  div.business-2015 {
    color: #47525d;
  }

  div.business-2015 #business-footer {
    border-top: 0;
    max-width: 1010px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
  }

  div.business-2015 .try-business-cta-footer {
    background: #f0f7fd;
    padding: 85px 0 55px;
    margin: 0 auto;
  }

  div.business-2015.business-theme .hero__header,div.business-2015.business-theme .hero__sub-header {
    color: #47525d;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    padding: 0;
    margin: 0;
  }

  div.business-2015.business-theme .hero__header {
    font-size: 31px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.3;
  }

  div.business-2015.business-theme .hero__header {
    font-weight: 100;
  }

  div.business-2015.business-theme .hero__sub-header {
    font-size: 21px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.5;
  }

  div.business-2015.business-theme .hero__sub-header {
    font-weight: 100;
  }

  div.business-2015.business-theme .hero {
    background: #f5f3f4;
    padding: 0;
    overflow: hidden;
  }

  div.business-2015.business-theme .hero__header {
    font-size: 47.25px;
    max-width: 520px;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015.business-theme .hero__header {
      font-size: 31px;
      max-width: 350px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015.business-theme .hero__header {
      display: inline-block;
      font-size: 26px;
      text-align: center;
    }
  }

  div.business-2015.business-theme .hero__sub-header {
    max-width: 440px;
    margin-top: 30px;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015.business-theme .hero__sub-header {
      font-size: 16px;
      max-width: 330px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015.business-theme .hero__sub-header {
      display: inline-block;
      text-align: center;
    }
  }

  div.business-2015.business-theme .hero__header,div.business-2015.business-theme .hero__sub-header {
    display: block;
    color: #47525d;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 400px) {
    div.business-2015.business-theme .hero__header,  div.business-2015.business-theme .hero__sub-header {
      width: 300px;
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }
  }

  @media (min-width: 600px) {
    div.business-2015.business-theme .hero__header,  div.business-2015.business-theme .hero__sub-header {
      width: 400px;
    }
  }

  @media (min-width: 768px) {
    div.business-2015.business-theme .hero__header,  div.business-2015.business-theme .hero__sub-header {
      width: 450px;
    }
  }

  div.business-2015.business-theme .hero .try-business-cta {
    float: left;
    margin: 30px 0 0 0;
    text-align: center;
    background: none;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015.business-theme .hero .try-business-cta {
      margin-top: 40px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015.business-theme .hero .try-business-cta {
      float: none;
    }
  }

  @media (min-width: 400px) {
    div.business-2015.business-theme .hero .try-business-cta {
      float: left;
    }
  }

  div.business-2015.business-theme .hero .try-business-cta .try-business-cta__button {
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 19px 26px;
    font-size: 21px;
    line-height: 21px;
    background: #0071e0;
    color: #fff;
    display: block;
    text-align: center;
    border: none;
  }

  div.business-2015.business-theme .hero .try-business-cta .try-business-cta__button:hover {
    background: #3398ea;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015.business-theme .hero .try-business-cta .try-business-cta__button {
      font-size: 16px;
      padding: 14px 40px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015.business-theme .hero .try-business-cta .try-business-cta__button {
      display: inline-block;
    }
  }

  div.business-2015.business-theme .hero .try-business-cta__header {
    max-width: 300px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    div.business-2015.business-theme .hero .try-business-cta__header {
      max-width: none;
    }
  }

  div.business-2015.business-theme .hero .try-business-cta-footer {
    background: #f5f3f4;
  }

  div.business-2015.business-theme .hero .try-business-cta__footer {
    margin-top: 15px;
    font-size: 16px;
    color: #47525d;
    text-align: left;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    div.business-2015.business-theme .hero .try-business-cta__footer {
      text-align: center;
    }
  }

  div.business-2015.business-theme .hero .try-business-cta__footer a {
    border-bottom: 1px solid #0071e0;
    color: #0071e0;
    text-decoration: none;
  }

  div.business-2015.business-theme .hero .try-business-cta__footer a:hover {
    color: #3398ea;
  }

  div.business-2015.business-theme .hero .top-section {
    margin: 0 auto;
    max-width: 990px;
    box-sizing: content-box;
    position: relative;
    padding: 20px;
    min-height: 400px;
    z-index: 2;
  }

  div.business-2015.business-theme .hero .top-section:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (min-width: 400px) {
    div.business-2015.business-theme .hero .top-section {
      text-align: left;
      margin: 0;
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }

  @media (min-width: 768px) {
    div.business-2015.business-theme .hero .top-section {
      text-align: left;
      padding-top: 75px;
      padding-bottom: 75px;
      min-height: 550px;
    }
  }

  @media (min-width: 991px) {
    div.business-2015.business-theme .hero .top-section {
      position: relative;
      margin: 0 auto;
    }
  }

  div.business-2015.business-theme .hero .top-section__container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  div.business-2015.business-theme .hero .top-section__container:after {
    content: "";
    display: table;
    clear: both;
  }

  div.business-2015.business-theme .hero {
    background-image: none;
    position: relative;
  }

  div.business-2015.business-theme .hero__background-container {
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  @media (min-width: 400px) {
    div.business-2015.business-theme .hero__background-container {
      background-position: 300px center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media (min-width: 600px) {
    div.business-2015.business-theme .hero__background-container {
      background-position: 370px center;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 1019px) {
    div.business-2015.business-theme .hero__background-container {
      background-size: contain;
    }
  }

  @media (min-width: 1201px) {
    div.business-2015.business-theme .hero__background-container {
      width: 1770px;
      position: absolute;
      left: 50%;
      margin-left: -885px;
      background-position: right center;
    }
  }

  @media (min-width: 1771px) {
    div.business-2015.business-theme .hero__background-container {
      width: 100%;
    }
  }

  div.business-2015.business-theme.windows .hero--female {
    background: #f7f7f7;
  }

  @media (min-width: 400px) {
    div.business-2015.business-theme.windows .hero__background-container--female {
      background-image: url("./background--pc--female-vfl1oeEA8.jpg");
    }
  }

  @media (min-width: 400px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 400px) and (min-resolution: 144dpi) {
    div.business-2015.business-theme.windows .hero__background-container--female {
      background-image: url("./background--pc--female@2x-vflM_eOcT.jpg");
    }
  }

  div.business-2015 .hero__header,div.business-2015 .hero__sub-header {
    color: #47525d;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    padding: 0;
    margin: 0;
  }

  div.business-2015 .hero__header {
    font-size: 31px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.3;
  }

  div.business-2015 .hero__header {
    font-weight: 100;
  }

  div.business-2015 .hero__sub-header {
    font-size: 21px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.5;
  }

  div.business-2015 .hero__sub-header {
    font-weight: 100;
  }

  div.business-2015 {
    background: #fff;
  }

  div.business-2015 .hero {
    background: #f6f9fc no-repeat;
    background-image: url("./dfb_header-vflSxQOjy.png");
    background-size: 694px auto;
    background-position: calc(50% + 450px) calc(50% + 15px);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }

  @media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 192dpx), (min-resolution: 1.1dppx) {
    div.business-2015 .hero {
      background-image: url("./dfb_header@2x-vflDiQnMN.png");
    }
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero {
      background-size: 450px auto;
      background-position: calc(50% + 220px) calc(50% + 15px);
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero {
      background-image: url("./mobile_home_header_clouds-vflCEBus0.svg"),url("./mobile_home_header_document-vfltNgJYJ.svg");
      background-position: 10% 10%,calc(100% + 90px) calc(100% + 30px);
      background-size: 80px auto,240px auto;
      text-align: center;
    }
  }

  div.business-2015 .hero--subline {
    padding-top: 107px;
    padding-bottom: 89px;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero--subline {
      padding-top: 87px;
      padding-bottom: 69px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero--subline {
      padding-top: 90px;
      padding-bottom: 50px;
    }
  }

  div.business-2015 .hero .try-business-cta {
    float: left;
    margin: 30px 0 0 0;
    text-align: center;
    background: none;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero .try-business-cta {
      margin-top: 40px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero .try-business-cta {
      float: none;
    }
  }

  div.business-2015 .hero .try-business-cta .try-business-cta__button {
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 19px 26px;
    font-size: 21px;
    line-height: 21px;
    background: #0071e0;
    color: #fff;
    display: block;
    text-align: center;
    border: none;
  }

  div.business-2015 .hero .try-business-cta .try-business-cta__button:hover {
    background: #3398ea;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero .try-business-cta .try-business-cta__button {
      font-size: 16px;
      padding: 14px 40px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero .try-business-cta .try-business-cta__button {
      display: inline-block;
    }
  }

  div.business-2015 .hero .try-business-cta__footer {
    margin-top: 15px;
    font-size: 16px;
    color: #47525d;
    text-align: center;
  }

  div.business-2015 .hero .try-business-cta__footer a {
    border-bottom: 1px solid #0071e0;
    color: #0071e0;
    text-decoration: none;
  }

  div.business-2015 .hero .try-business-cta__footer a:hover {
    color: #3398ea;
  }

  div.business-2015 .hero .try-business-cta .try-business-cta__footer {
    text-align: left;
  }

  @media (max-width: 767px) {
    div.business-2015 .hero .try-business-cta .try-business-cta__footer {
      text-align: center;
    }
  }

  div.business-2015 .hero .top-section {
    max-width: 990px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    div.business-2015 .hero .top-section {
      max-width: 350px;
    }
  }

  div.business-2015 .hero__header {
    font-size: 47.25px;
    max-width: 520px;
    padding-bottom: 0;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero__header {
      font-size: 31px;
      max-width: 350px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero__header {
      display: inline-block;
      font-size: 26px;
      text-align: center;
    }
  }

  div.business-2015 .hero__sub-header {
    max-width: 440px;
    margin-top: 30px;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero__sub-header {
      font-size: 16px;
      max-width: 330px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero__sub-header {
      display: inline-block;
      text-align: center;
    }
  }

  div.business-2015 .button-link {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    outline: none;
    background: none;
    color: #0071e0;
    font-size: 14px;
    font-weight: 100;
    border: none;
  }

  div.business-2015 .button-link:hover {
    border: none;
    background: none;
    -webkit-filter: none;
    filter: none;
    text-decoration: none;
    color: #47525d;
  }

  @media (max-width: 767px) {
    div.business-2015 .try-business-cta-footer {
      padding: 65px 0 20px;
    }
  }

  div.business-2015 .try-business-cta-footer .try-business-cta {
    margin: 10px 0 0;
  }

  div.business-2015 .try-business-cta-footer .try-business-cta__cta {
    margin-top: 5px;
  }

  div.business-2015 .hero--no-subline {
    padding-top: 147px;
    padding-bottom: 129px;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero--no-subline {
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero--no-subline {
      padding-top: 90px;
      padding-bottom: 50px;
    }
  }

  div.business-2015 .hero__header,div.business-2015 .hero__sub-header {
    color: #47525d;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    padding: 0;
    margin: 0;
  }

  div.business-2015 .hero__header {
    font-size: 31px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.3;
  }

  div.business-2015 .hero__header {
    font-weight: 100;
  }

  div.business-2015 .hero__sub-header {
    font-size: 21px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.5;
  }

  div.business-2015 .hero__sub-header {
    font-weight: 100;
  }

  div.business-2015 {
    background: #fff;
  }

  div.business-2015 .hero {
    background: #f6f9fc no-repeat;
    background-image: url("./dfb_header-vflSxQOjy.png");
    background-size: 694px auto;
    background-position: calc(50% + 450px) calc(50% + 15px);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }

  @media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 192dpx), (min-resolution: 1.1dppx) {
    div.business-2015 .hero {
      background-image: url("./dfb_header@2x-vflDiQnMN.png");
    }
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero {
      background-size: 450px auto;
      background-position: calc(50% + 220px) calc(50% + 15px);
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero {
      background-image: url("./mobile_home_header_clouds-vflCEBus0.svg"),url("./mobile_home_header_document-vfltNgJYJ.svg");
      background-position: 10% 10%,calc(100% + 90px) calc(100% + 30px);
      background-size: 80px auto,240px auto;
      text-align: center;
    }
  }

  div.business-2015 .hero--subline {
    padding-top: 107px;
    padding-bottom: 89px;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero--subline {
      padding-top: 87px;
      padding-bottom: 69px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero--subline {
      padding-top: 90px;
      padding-bottom: 50px;
    }
  }

  div.business-2015 .hero .try-business-cta {
    float: left;
    margin: 30px 0 0 0;
    text-align: center;
    background: none;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero .try-business-cta {
      margin-top: 40px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero .try-business-cta {
      float: none;
    }
  }

  div.business-2015 .hero .try-business-cta .try-business-cta__button {
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 19px 26px;
    font-size: 21px;
    line-height: 21px;
    background: #0071e0;
    color: #fff;
    display: block;
    text-align: center;
    border: none;
  }

  div.business-2015 .hero .try-business-cta .try-business-cta__button:hover {
    background: #3398ea;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero .try-business-cta .try-business-cta__button {
      font-size: 16px;
      padding: 14px 40px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero .try-business-cta .try-business-cta__button {
      display: inline-block;
    }
  }

  div.business-2015 .hero .try-business-cta__footer {
    margin-top: 15px;
    font-size: 16px;
    color: #47525d;
    text-align: center;
  }

  div.business-2015 .hero .try-business-cta__footer a {
    border-bottom: 1px solid #0071e0;
    color: #0071e0;
    text-decoration: none;
  }

  div.business-2015 .hero .try-business-cta__footer a:hover {
    color: #3398ea;
  }

  div.business-2015 .hero .try-business-cta .try-business-cta__footer {
    text-align: left;
  }

  @media (max-width: 767px) {
    div.business-2015 .hero .try-business-cta .try-business-cta__footer {
      text-align: center;
    }
  }

  div.business-2015 .hero .top-section {
    max-width: 990px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    div.business-2015 .hero .top-section {
      max-width: 350px;
    }
  }

  div.business-2015 .hero__header {
    font-size: 47.25px;
    max-width: 520px;
    padding-bottom: 0;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero__header {
      font-size: 31px;
      max-width: 350px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero__header {
      display: inline-block;
      font-size: 26px;
      text-align: center;
    }
  }

  div.business-2015 .hero__sub-header {
    max-width: 440px;
    margin-top: 30px;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero__sub-header {
      font-size: 16px;
      max-width: 330px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero__sub-header {
      display: inline-block;
      text-align: center;
    }
  }

  div.business-2015 .button-link {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    outline: none;
    background: none;
    color: #0071e0;
    font-size: 14px;
    font-weight: 100;
    border: none;
  }

  div.business-2015 .button-link:hover {
    border: none;
    background: none;
    -webkit-filter: none;
    filter: none;
    text-decoration: none;
    color: #47525d;
  }

  @media (max-width: 767px) {
    div.business-2015 .try-business-cta-footer {
      padding: 65px 0 20px;
    }
  }

  div.business-2015 .try-business-cta-footer .try-business-cta {
    margin: 10px 0 0;
  }

  div.business-2015 .try-business-cta-footer .try-business-cta__cta {
    margin-top: 5px;
  }

  div.business-2015 .hero--no-subline {
    padding-top: 147px;
    padding-bottom: 129px;
  }

  @media only screen and (max-width: 1200px) {
    div.business-2015 .hero--no-subline {
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }

  @media (max-width: 767px) {
    div.business-2015 .hero--no-subline {
      padding-top: 90px;
      padding-bottom: 50px;
    }
  }

  a[data-snap-engage-visibility] {
    display: none;
  }

  .try-business-cta__header {
    -webkit-font-smoothing: antialias;
    font-weight: 400;
  }

  .try-business-cta__header {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
  }

  .try-business-cta {
    margin: 85px auto 55px;
    text-align: center;
    -webkit-transition: opacity 0.5s ease-in-out 0s;
    transition: opacity 0.5s ease-in-out 0s;
  }

  .try-business-cta .button-big {
    font-size: 16px;
  }

  .try-business-cta__header {
    margin-bottom: 12px;
  }

  .try-business-cta__footer {
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  a.try-business-cta__button {
    text-decoration: none;
  }

  div.business-2015 .try-business-cta__header {
    color: #47525d;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    padding: 0;
    margin: 0;
  }

  div.business-2015 .try-business-cta__header {
    font-size: 31px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.3;
  }

  div.business-2015 .try-business-cta__header {
    font-weight: 100;
  }

  div.business-2015 .try-business-cta__header {
    text-align: center;
    color: #47525d;
  }

  @media (max-width: 767px) {
    div.business-2015 .try-business-cta__header {
      font-size: 22px;
    }
  }

  div.business-2015 .try-business-cta .try-business-cta__button {
    margin-top: 20px;
    min-width: 150px;
    min-height: 54px;
  }

  div.business-2015 .try-business-cta__footer {
    margin-top: 10px;
  }

  div.business-2015 .try-business-cta-footer {
    background-color: #f4faff;
    width: 100%;
    padding: 100px 0 40px;
    text-align: center;
  }

  @media (max-width: 767px) {
    div.business-2015 .try-business-cta-footer {
      padding: 60px 0 10px;
    }
  }
}