
  @font-face {
    font-family: "AC AppleIcons";
    font-style: normal;
    font-weight: 400;
    src: url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_text.eot");
    src: url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_text.eot?#iefix") format("embedded-opentype"),url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_text.woff") format("woff"),url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_text.ttf") format("truetype");
  }

  @font-face {
    font-family: "AC AppleIcons";
    font-style: normal;
    font-weight: 200;
    src: url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_thin.eot");
    src: url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_thin.eot?#iefix") format("embedded-opentype"),url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_thin.woff") format("woff"),url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "AC AppleIcons";
    font-style: normal;
    font-weight: 100;
    src: url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_ultralight.eot");
    src: url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_ultralight.eot?#iefix") format("embedded-opentype"),url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_ultralight.woff") format("woff"),url("http://www.apple.com/ac/icons/1.0/fonts/appleicons_ultralight.ttf") format("truetype");
  }

.footerWrapper {
  #ac-globalfooter {
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  #ac-globalfooter,#ac-globalfooter:before,#ac-globalfooter:after,#ac-globalfooter *,#ac-globalfooter *:before,#ac-globalfooter *:after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
  }

  #ac-globalfooter *,#ac-globalfooter *:before,#ac-globalfooter *:after {
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
  }

  #ac-globalfooter footer,#ac-globalfooter nav,#ac-globalfooter section {
    display: block;
  }

  #ac-globalfooter ul {
    list-style: none;
  }

  #ac-globalfooter,#ac-globalfooter input {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    direction: ltr;
    text-align: left;
  }

  #ac-globalfooter {
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  }

  #ac-globalfooter input {
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  }


  #ac-globalfooter .ac-gf-more {
    behavior: url("/ac/icons/1.0/behaviors/icons.htc");
  }

  #ac-globalfooter .ac-gf-more:before,#ac-globalfooter .ac-gf-more:after {
    content: "ï€„";
  }

  #ac-globalfooter .ac-gf-more:before,#ac-globalfooter .ac-gf-more:after {
    display: inline-block;
    color: inherit;
    font-family: "AC AppleIcons";
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: none;
    position: relative;
    z-index: 1;
  }

  #ac-globalfooter .ac-gf-more:after {
    top: 0;
    padding-left: .3em;
  }

  #ac-globalfooter .ac-gf-more:before {
    display: none;
  }

  #ac-globalfooter {
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 400;
    letter-spacing: normal;
    background-color: #f2f2f2;
    color: #666;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  @media only screen and (max-width: 1044px) {
    #ac-globalfooter {
      min-width: 320px;
    }
  }

  #ac-globalfooter a {
    color: #666;
    text-decoration: none;
  }

  #ac-globalfooter.no-js a:hover {
    color: #333;
    text-decoration: underline;
  }

  #ac-globalfooter.no-touch a:hover {
    color: #333;
    text-decoration: underline;
  }

  #ac-globalfooter .ac-gf-content {
    margin: 0 auto;
    padding: 0 22px;
    max-width: 980px;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-content {
      padding: 0 16px;
    }
  }

  #ac-globalfooter .ac-gf-label {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
  }

  #ac-globalfooter .ac-gf-directory {
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 400;
    letter-spacing: normal;
    position: relative;
    z-index: 1;
    padding-top: 20px;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory {
      font-size: 12px;
      line-height: 2.5;
      font-weight: 400;
      letter-spacing: normal;
    }
  }

  #ac-globalfooter .ac-gf-directory:before,#ac-globalfooter .ac-gf-directory:after {
    content: ' ';
    display: table;
  }

  #ac-globalfooter .ac-gf-directory:after {
    clear: both;
  }

  #ac-globalfooter.ie7 .ac-gf-directory {
    zoom: 1;
  }

  #ac-globalfooter .ac-gf-directory-column {
    position: relative;
    z-index: 1;
    min-height: 2px;
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
  }

  #ac-globalfooter.ie7 .ac-gf-directory-column,#ac-globalfooter.ie8 .ac-gf-directory-column {
    width: 24.975%;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory-column {
      width: 100%;
    }

    #ac-globalfooter.ie7 .ac-gf-directory-column,  #ac-globalfooter.ie8 .ac-gf-directory-column {
      width: 99.9%;
    }
  }

  #ac-globalfooter .ac-gf-directory-column-section {
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: 2px;
    margin: 0;
    padding: 0;
    float: left;
    pointer-events: none;
  }

  #ac-globalfooter.ie7 .ac-gf-directory-column-section,#ac-globalfooter.ie8 .ac-gf-directory-column-section {
    width: 99.9%;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory-column-section {
      border-bottom: 1px solid #e3e3e3;
      overflow: hidden;
      pointer-events: auto;
    }
  }

  #ac-globalfooter .ac-gf-directory-column-section ~ .ac-gf-directory-column-section {
    padding-top: 20px;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory-column-section ~ .ac-gf-directory-column-section {
      padding-top: 0;
    }
  }

  #ac-globalfooter .ac-gf-directory-column-section-title {
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 600;
    letter-spacing: normal;
    color: #333;
    margin: 0;
  }

  #ac-globalfooter.ie7 .ac-gf-directory-column-section-title,#ac-globalfooter.ie8 .ac-gf-directory-column-section-title {
    font-weight: normal;
    font-family: "Myriad Set Pro 600","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory-column-section-title {
      font-size: 14px;
      line-height: 2.78571;
      font-weight: 400;
      letter-spacing: normal;
    }
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory-column-section-title {
      background: #f2f2f2;
      cursor: pointer;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index: 2;
    }

    #ac-globalfooter.no-js .ac-gf-directory-column-section-title:hover {
      color: #000;
    }

    #ac-globalfooter.no-touch .ac-gf-directory-column-section-title:hover {
      color: #000;
    }

    #ac-globalfooter .ac-gf-directory-column-section-title:after {
      content: '+';
      float: right;
      font-weight: normal;
      margin-right: 8px;
      -webkit-transition: -webkit-transform .3s ease;
      transition: transform .3s ease;
    }
  }

  #ac-globalfooter .ac-gf-directory-column-section-list {
    margin-right: 20px;
    list-style: none;
    padding: 0;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory-column-section-list {
      margin: 0;
      overflow: hidden;
      padding-bottom: 16px;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      visibility: hidden;
      z-index: -1;
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }

  #ac-globalfooter .ac-gf-directory-column-section-item {
    display: block;
    pointer-events: auto;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory-column-section-link {
      outline-offset: -6px;
      padding: 0 14px;
      display: block;
    }
  }

  #ac-globalfooter .ac-gf-directory-column-section-anchor {
    right: 0;
    cursor: default;
    display: none;
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    z-index: 10;
  }

  #ac-globalfooter .ac-gf-directory-column-section-anchor:focus {
    outline-offset: -6px;
    width: 25px;
    height: 38px;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory-column-section-anchor {
      display: block;
    }
  }

  #ac-globalfooter.no-js .ac-gf-directory-column-section-anchor {
    cursor: pointer;
    outline-offset: -6px;
    width: 100%;
    height: 38px;
  }

  #ac-globalfooter .ac-gf-directory-column-section-anchor-close {
    display: none;
  }

  #ac-globalfooter .ac-gf-directory-column-section-anchor-label {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
  }

  #ac-globalfooter .ac-gf-directory-column-section-state {
    display: none;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,  #ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title {
      font-weight: 600;
      color: #333;
    }

    #ac-globalfooter.ie7 .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,  #ac-globalfooter.ie8 .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,  #ac-globalfooter.ie7 .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,  #ac-globalfooter.ie8 .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title {
      font-weight: normal;
      font-family: "Myriad Set Pro 600","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
    }

    #ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title:after,  #ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title:after {
      -webkit-transform: rotate(45deg) scale(1.08);
      transform: rotate(45deg) scale(1.08);
    }

    #ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-list,  #ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-list {
      position: static;
      visibility: visible;
      z-index: 1;
      -webkit-transform: none;
      transform: none;
      -webkit-transition: -webkit-transform 300ms ease;
      transition: transform 300ms ease;
    }

    #ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-open,  #ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-open {
      display: none;
    }

    #ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-close,  #ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-close {
      display: block;
    }
  }

  #ac-globalfooter .ac-gf-directory.with-5-columns .ac-gf-directory-column {
    width: 20%;
  }

  #ac-globalfooter.ie7 .ac-gf-directory.with-5-columns .ac-gf-directory-column,#ac-globalfooter.ie8 .ac-gf-directory.with-5-columns .ac-gf-directory-column {
    width: 19.98%;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory.with-5-columns .ac-gf-directory-column {
      width: 100%;
    }

    #ac-globalfooter.ie7 .ac-gf-directory.with-5-columns .ac-gf-directory-column,  #ac-globalfooter.ie8 .ac-gf-directory.with-5-columns .ac-gf-directory-column {
      width: 99.9%;
    }
  }

  #ac-globalfooter .ac-gf-footer {
    border-top: 1px solid #e3e3e3;
    color: #999;
    padding: 20px 0 24px;
  }

  #ac-globalfooter .ac-gf-footer:nth-child(2) {
    border-top: none;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-footer {
      padding: 20px 0;
    }
  }

  #ac-globalfooter .ac-gf-footer-shop {
    max-height: 9999px;
    margin-bottom: 6px;
    padding-bottom: 5px;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-footer-shop {
      padding-bottom: 6px;
    }
  }

  #ac-globalfooter .ac-gf-footer-shop a {
    color: #08c;
  }

  #ac-globalfooter .ac-gf-footer-locale {
    float: right;
    white-space: nowrap;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-footer-locale {
      left: -1;
      float: none;
      position: relative;
      z-index: 1;
    }
  }

  #ac-globalfooter .ac-gf-footer-locale-link {
    border-left: 1px solid #d6d6d6;
    margin-left: 10px;
    padding-left: 12px;
    display: inline;
  }

  #ac-globalfooter .ac-gf-footer-locale-link:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }

  #ac-globalfooter .ac-gf-footer-locale-flag {
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("http://images.apple.com/ac/flags/1/images/us/16.png");
    padding-right: 5px;
    background-position: left center;
    cursor: pointer;
    float: left;
    margin-top: 1px;
  }

  #ac-globalfooter.ie7 .ac-gf-footer-locale-flag {
    display: inline;
    zoom: 1;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    #ac-globalfooter .ac-gf-footer-locale-flag {
      background-image: url("http://images.apple.com/ac/flags/1/images/us/32.png");
    }
  }

  #ac-globalfooter .ac-gf-footer-legal:before,#ac-globalfooter .ac-gf-footer-legal:after {
    content: ' ';
    display: table;
  }

  #ac-globalfooter .ac-gf-footer-legal:after {
    clear: both;
  }

  #ac-globalfooter.ie7 .ac-gf-footer-legal {
    zoom: 1;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-footer-legal {
      padding-top: 13px;
    }
  }

  #ac-globalfooter .ac-gf-footer-legal-copyright,#ac-globalfooter .ac-gf-footer-legal-links {
    margin-right: 26px;
    float: left;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-footer-legal-copyright,  #ac-globalfooter .ac-gf-footer-legal-links {
      margin-right: 0;
      float: none;
    }
  }

  #ac-globalfooter .ac-gf-footer-legal-copyright {
    max-height: 9999px;
  }

  #ac-globalfooter .ac-gf-footer-legal-link {
    border-right: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-right: 12px;
    white-space: nowrap;
  }

  #ac-globalfooter .ac-gf-footer-legal-link:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }

  #ac-globalfooter.ie7 .ac-gf-footer-legal-link,#ac-globalfooter.ie8 .ac-gf-footer-legal-link {
    border-right: none;
    border-left: 1px solid #d6d6d6;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    padding-left: 12px;
  }

  #ac-globalfooter.ie7 .ac-gf-footer-legal-link:first-child,#ac-globalfooter.ie8 .ac-gf-footer-legal-link:first-child {
    border: none;
    margin: 0;
    padding: 0;
  }

  #ac-globalfooter .ac-gf-directory+.ac-gf-footer {
    border-top: none;
  }

  #ac-globalfooter .ac-gf-directory+.ac-gf-footer .ac-gf-footer-shop {
    border-bottom: 1px solid #e3e3e3;
  }

  @media only screen and (max-width: 767px) {
    #ac-globalfooter .ac-gf-directory+.ac-gf-footer .ac-gf-footer-shop {
      border-bottom: none;
    }
  }

  #ac-globalfooter .nowrap {
    white-space: nowrap;
  }
}